/*
Orange Color: #e67e22
Seagreen : #1abc9c
*/


/* ----------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------- */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, 
body {
    background-color:white;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto; /* T & B are 0 and L & R are auto */
}

section { padding: 80px 0; }

.box { padding: 1%; }
.medal-box { padding: 1%; }

/* ------- HEADINGS ------- */

h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;/* Relative to the font-size defined for 'html' css */
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-weight: 400;
    font-size: 110%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #36ecb9;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3::after {
    display: block;
    height: 2px;
    background-color: #36ecb9;
    content: "";
    width: 120px;
    margin: 0 auto;
    margin-top: 5px;
}

/* ------- PARAGRAPHS ------- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%; /* Same as margin:0 auto (to center the content) */
    color: #10ac80;
    padding-bottom: 20px;
}
.section-origami .box,
.section-origami .wide-box {
    padding: 20px;
    background-image:  url(img/abstract-shapes-green-min.jpg);
}

.section-captures .box,
.section-captures .wide-box {
    padding: 20px;
    background-image:  url(img/canvas-min.jpg);
}

.section-sketches .box,
.section-sketches .wide-box {
    padding: 20px;
    background-image:  url(img/dark-woven-grey-min.jpg);
}

.box p {
    padding: 70% 0;
    text-align: center;
    vertical-align: middle;
    color: #ddd;
    font-size:200%;
    line-height: 145%;
}

.soon {
    display: none;
    height: 500px;
}

/* ------- ICONS ------- */
.icon-big {
    text-align: center;
    margin: auto;
    font-size: 550%;
    display: block;
    margin-bottom: 10px;
}

.gold {
    color: #FFDF00;
}

.silver {
    color: #C0C0C0;
}

.bronze {
    color: #cd7f32 ;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #36ecb9;
    font-size: 120%;
    margin-right: 10px;

    /* Secrets to align text & icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----------------------------------------- */
/* IMAGES */
/* ----------------------------------------- */ 

img {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2.5px;
    opacity: 0.9;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

img:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.035);
}

.wide {
    display: block;
    width: 95%;
    margin: auto;
    padding: 10px 0;
}

/* ----------------------------------------- */
/* SPORTS */
/* ----------------------------------------- */ 

.section-sports .long-copy {
    padding-bottom: 0;
}

.medal-box p {
    color: #ddd;
    font-size: 110%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 5px;
}

.medal-box {
    border-radius: 1%;
    padding: 4% 0;
    /* background-color: #0c7d5e;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0.425)), url(img/abstract-shapes-green-min.jpg);
    transition: box-shadow 0.2s, background-image 0.2s;
}

.medal-box:hover {
    border-radius: 1%;
    padding: 4% 0;
    /* background-color: #0c7d5e;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(img/abstract-shapes-green-min.jpg);
    box-shadow: 0 0px 20px #5e5959;
}

.contest {
    padding-top: 4%;
}

/* ----------------------------------------- */
/* SECTIONS */
/* ----------------------------------------- */ 

.section-captures,
.section-sports { background-color: #f4f4f4; }

.section-origami img { filter: brightness(1.50); }

.section-sketches img { filter: brightness(1.30); }

/* ----------------------------------------- */
/* FOOTER */
/* ----------------------------------------- */ 

footer {
    text-align: center;
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    margin-top: 7px;
    margin-left: 5px;
    text-align: center;
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 40px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.logo-facebook,
.logo-twitter,
.logo-google,
.logo-instagram {
    transition: color 0.2s;
}

.logo-facebook:hover { color: #3b5998; }

.logo-twitter:hover { color:#55acee; }   

.logo-google:hover { color: #dd4b39; }

.logo-instagram:hover { color: #835e5b; }

footer p {
    float: left;
    color: #888;
    text-align: center;
    margin-top: 10px;
    margin-left: 7%;
}

